/* * {
	border: 2px solid red;
	padding: 10px;
	list-style-type: none;
}
*/

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

a {
	font-style: none;
	text-decoration: none;
	text-transform: none;
} 

h3 {
	/*display: inline-block;*/
}

button{
	padding: 10px;
	width: 250px;
	border-radius: 15px;
	font-family: 'Allerta', sans-serif;
	font-size: 1em; 
	background-color: #fe3c4e;
	color:white;
	border:0px solid black;
}

.container{
	width: 800px;
	margin: auto;
	position: relative;
}

.floatleft{
	float:left;
	position: relative;
	bottom: -100px;
}

.floatright{
	float: right;
	position: relative;
	top: -102px;
}


.header *{
	margin:0px auto;
}

.header{
	position: absolute;
}

.header .menu{
	font-size:24px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.header .menu li{
	display: inline-block;
	margin-left: 15px;
	text-decoration: none;
	color:white;
	list-style-type:circle;
}



.header .menu ul{
	margin: 15px;
}

.header .menu a{
	color:white;
}

.header .logotipo {
	display: inline-block;
}

.portada {
	background-image: url("../images/background.png");
	color:white;
	padding: 25px;
}

.portada .titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
}

.portada .title-a {
	font-size: 24px;
	margin-top:0px;
	margin-bottom: 75px;
}

.guitarras {
	color:#1f313c;
}

.guitarras h2 {
	font-size: 35px;
}

.guitarras .guitarra {
	overflow: visible;
	border: 1px solid #1f313c;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.guitarras .guitarra ol {
	padding-left: 0px;
}

.guitarras .guitarra .container{
	margin: 49px;
}

.footer{
	background-color: #273b47;
	height: 200px;
	padding: 10px;
	margin-top: 70px;
}

.footer .contacto img{
	display: block;
	height: 50px;
	margin: 15px;
}

.footer .contacto a{
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 15px;
}

.footer .contacto a strong{
	font-size: 1.2em;
	font-weight: bold;
}